// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here

.jumbotron{
  background-image: url(../img/pirate-ship.jpg);
  background-size: cover;
  background-repeat: no-repeat fixed;
  font-style: italic;
  font-family: "papayrus"; 
  text-align: center;
}


.nav-link:hover {
  text-decoration: underline;
}

.navbar-1{
  text-align: center;
  font-family: "papayrus";
}